#tas10-left-panel

  #tas10-navbar

    %span#active-tab-arrow

    - Tas10box.plugins.each do |plugin|
      - if plugin.class.name == 'Tas10box::NavBarPlugin'

        %span.navbar-button.tas10-icon24.live-tipsy-w.float-left{ :id => "button_#{ plugin.name }", :class => "tas10-icon-#{plugin.name.singularize}", :"original-title" => t( "#{plugin.name}.title"), :"data-click-url" => (plugin.click_action ? plugin.click_action : nil), :"data-dblclk-url" => (plugin.double_click_action ? plugin.double_click_action : nil), :"data-skip-navbar" => (plugin.skip_navbar ? "true" : nil), :"data-tas10-creates" => (plugin.creates ? plugin.name : nil) }

    %span.separator.navbar-button

    - Tas10box.plugins.each do |plugin|

      - if plugin.class.name == 'Tas10box::ApplicationPlugin'

        %a.navbar-button.tas10-icon24.float-left.live-tipsy-w{ :id => "button_#{ plugin.name }", :class => "tas10-icon-#{plugin.name.singularize}", :"title" => t("#{plugin.name}.title"), :"data-click-url" => (plugin.click_action ? plugin.click_action : nil), :"data-dblclk-url" => (plugin.double_click_action ? plugin.double_click_action : nil), :"data-tas10-creates" => (plugin.creates ? plugin.name : nil) }
          = raw(plugin.button_callback.call) if plugin.button_callback && plugin.button_callback.lambda?
    
    .tas10-left-panel-button-content

      #tas10-button-tabs

        - Tas10box.plugins.each do |plugin|

          - if plugin.class.name.match(/NavBarPlugin|Application/)
            - next if plugin.skip_navbar

            .navtab{ :id => "tab_#{ plugin.name }" }

              =render "#{plugin.name}/navbar"
