.form-actions
  %a.float-right.btn.btn-inverse.btn-mini{ :href => edit_group_path(@group), :"data-remote" => true }
    =t('edit')
.container-padding.user-container

  %img.userpic.float-left.x_100{ :src => "/assets/group_100x100.png" }

  .next-to-picture
    %h1
      = @group.name

    %p
      %label.desc
        =t('group.users')

    %ul{:class => "group-#{@group.id}-users groups-users"}
      - @group.users.each do |user|
        %li{ :class => "user-#{user.id}-in-group-#{@group.id}" }
          = link_to( user.fullname_or_name, user, :remote => true )
          = link_to( raw("<span class=\"ui-icon float-right ui-icon-close\"></span>"), "#{remove_user_from_group_path(@group)}?user_id=#{user.id}", :remote => true, :method => :delete, :confirm => t('user.remove_from_group', :name => user.fullname_or_name) )

    %p
      %label.desc
        = t('user.add_to_group')

    - if current_user.admin?
      =form_tag add_user_to_group_path, :remote => true, :class => "users-for-group-form", :style => "margin-left: 12px; display:block;position:relative" do
        %a.live-tipsy.close-button{ :href => "#", :onclick => "$(this).closest('form').remove();", :"original-title" => t('close') }
          %span.ui-icon.ui-icon-close
        %a.live-tipsy.create-button{ :href => "#", :"original-title" => t('user.invite') }
          %span.ui-icon.ui-icon-disk
        %select.add-user-combobox{ :name => "user_id" }
        %input{ :type => "hidden", :name => "email" }