.form-actions
  %a{ :href => edit_user_path(@user), :"data-remote" => true, :class => "btn btn-inverse btn-mini" }
    =t('edit')
.container-padding.user-container

  .userpic.float-left.x100
    %img.x100{ :src => "#{picture_of_user_path(@user)}/?size=100", :class => "userpic-#{@user.id}" }
    .overlay
      .upload-picture{ :id => "upload-picture-#{@user.id}" }
        .tas10-icon24.white.tas10-icon-upload.float-right

  .next-to-picture
    %h1
      -if current_user.id == @user.id
        =t('user.your_profile', :name => @user.fullname_or_name)
      -else
        =t('user.profile_of', :name => @user.fullname_or_name)

    %table.fill-width
      %tr
        %td
          %label.desc
            =t('user.email')
        %td
          %label.desc
            =t('user.last_login')
      %tr
        %td
          =@user.email
        %td
          -if @user.user_log_entries.size > 0
            = l_time_ago_in_words( @user.user_log_entries.last.created_at )
          -else
            =t('never')

    %p.groups
      %label.desc
        =t('user.groups')
      %br
      - get_known_groups(@user).each do |group|
        = link_to( group.name, group, :remote => true )
      = link_to( t('group.new'), new_group_path, :remote => true )

    %p
      %label.desc
        =t('user.known')
      %br
      - get_known_users(@user).each do |user|
        -if user.id != current_user.id && user.id != Tas10::User.anybody_id
          %a{ :href => user_path(user), :"data-remote" => true }= image_tag( picture_of_user_path( user ), :class => "userpic x50 live-tipsy userpic-#{user.id}", :"original-title" => user.fullname_or_name)