- unless flash.empty?
  .login-error-container
    %span= flash[:error]

.login-logo{ :style => "background-image: url('/assets/#{Tas10box::defaults[:login][:logo]}'); border: #{Tas10box::defaults[:login][:logo_border]};"}

.login-container

  = form_tag( login_path ) do

    %p
      %label= t('login.name_email')
    %p
      = text_field_tag( :name_or_email, '', :class => 'js-get-focus input-xlarge')

    %p
      %label= t('login.password')
    %p
      = password_field_tag( :password, '', :class => 'input-xlarge' )

      = submit_tag( t('login.title'), :class => "btn btn-inverse" )

.login-footer-container
  &copy; TASTENWERK (2o12)

