.tas10-info-container{ :"data-id" => @doc.id }
  .info-title.tas10-dialog-header
    .separator-border
      .separator
    .icon-container
      %span.tas10-icon16.float-left.white{ :class => "tas10-icon-#{@doc.class.name.downcase}"}
    %h1{ :"data-name" => "name", :"data-url" => document_path( @doc ) }
      %span.text.title{ :"data-attr-name" => "name-#{@doc.id}"}= @doc.name

  .tas10-dialog-content
    %table
      %tr
        %td
          %label.desc= t('document.star')
        %td
          %span.starred{ :"data-id" => @doc.id }
            %span.tas10-icon16.star.float-left{ :class => "tas10-icon-star-#{@doc.starred ? 'full' : 'empty'}"}
      %tr
        %td
          %label.desc= t('document.created')
        %td
          %span.small= l( @doc.log_entries.first.created_at )
          %br
          %span.small= "#{t('by')} #{@doc.log_entries.first.user.fullname_or_name}"
      %tr
        %td
          %label.desc= t('document.modified')
        %td
          - if @doc.log_entries.size > 1
            %span.small= l( @doc.log_entries.last.created_at, :format => :default )
            %br
            %span.small= "#{t('by')} #{@doc.log_entries.last.user.fullname_or_name}"
          - else
            %span.small= t('never')
      - if @doc.respond_to? :color
        %tr
          %td
            %label.desc= t('color')
          %td
            = render "common/snippets/color_chooser"
      %tr
        %td
          %label.desc= t('labels.title')
        %td
          = render "common/snippets/labels"

      %tr
        %td
          %label.desc= t('acl.title')
        %td
          = render "common/snippets/acl"

    %fieldset.tas10-steps
      %legend{ :align => "right" }
        %span.live-tipsy.float-right.ui-icon.ui-icon-triangle-1-s{ :"original-title" => t('comments.show'), :onclick => "$(this).closest('.tas10-info-container').find('table.comments').slideToggle()" }
        = t('comments.title')

    = render :partial => "common/comments", :locals => { :hidden => true }


    %fieldset.tas10-steps
      %legend{ :align => "right" }
        %span.live-tipsy.float-right.ui-icon.ui-icon-triangle-1-s{ :"original-title" => t('document.log.show'), :onclick => "$(this).closest('.tas10-info-container').find('table.log').slideToggle(); $('#tas10-dialog').center();" }
        = t('document.log.title')

    %table.log
      - @doc.log_entries.each_with_index do |log_entry, i|
        %tr
          %td.modifier= log_entry.user.name
          %td.created_at= l( log_entry.created_at )
          %td.changed= (i > 1 ? @doc.versions[i-1] : t('document.created'))