.tas10-info-container{ :"data-id" => @doc.id }
  %h1{ :"data-name" => "name", :"data-url" => document_path( @doc ) }
    %span.tas10-icon16.float-left{ :class => "tas10-icon-#{@doc.class.name.downcase}"}
    %span.text.title{ :"data-attr-name" => "name-#{@doc.id}" }= @doc.name.blank? ? "NO NAME" : @doc.name

  .tas10-dialog-content
    %table
      %tr
        %td
          %label.desc= t('document.star')
        %td
          %span.starred{ :"data-id" => @doc.id }
            %span.tas10-icon16.star.float-left{ :class => "tas10-icon-star-#{@doc.starred ? 'full' : 'empty'}"}
      %tr
        %td
          %label.desc= t('document.created')
        %td
          %span.small= l( @doc.log_entries.first.created_at )
          %br
          %span.small= "#{t('by')} #{@doc.log_entries.first.user.fullname_or_name}"
      %tr
        %td
          %label.desc= t('document.modified')
        %td
          - if @doc.log_entries.size > 1
            %span.small= l( @doc.log_entries.last.created_at, :format => :default )
            %br
            %span.small= "#{t('by')} #{@doc.log_entries.last.user.fullname_or_name}"
          - else
            %span.small= t('never')
      - if @doc.respond_to? :color
        %tr
          %td
            %label.desc= t('color')
          %td
            = render "common/snippets/color_chooser"

    %p
      %label.desc= t('labels.title')
    = render "common/snippets/labels"

    %p
      %label.desc= t('acl.title')
    = render "common/snippets/acl"

    %p
      %span.live-tipsy-e.float-right.ui-icon.ui-icon-triangle-1-s{ :"original-title" => t('comments.show'), :onclick => "$(this).closest('.tas10-info-container').find('table.comments').slideToggle()" }
      %label.desc= t('comments.num', :count => @doc.comments.size)

    = render :partial => "common/comments", :locals => { :hidden => true }


    %p
      %span.live-tipsy-e.float-right.ui-icon.ui-icon-triangle-1-s{ :"original-title" => t('document.log.show'), :onclick => "$(this).closest('.tas10-info-container').find('table.log').slideToggle(); $('#tas10-dialog').center();" }
      %label.desc= t('document.log.title')

    %table.log
      - @doc.log_entries.each_with_index do |log_entry, i|
        %tr
          %td.modifier= log_entry.user.fullname_or_name
          %td.created_at= l( log_entry.created_at )
          %td.changed= (i == @doc.log_entries.size ? t('document.created') : log_entry.changed_fields)