%table.comments{ :class => "document-#{doc.id}-comments", :style => (defined?(hidden) && hidden ? "display:none" : "") }
  %tr
    %td{:colspan => 2}
      %button.btn.btn-mini.comment-form-trigger.float-right
        %span.icon-plus

  %tr.comment-form
    %td{:colspan => 2}
      %strong=current_user.fullname_or_name
      %span.desc
        =t('at_um')
        =Time.now.strftime('%H:%M')
      =form_for( doc.comments.build, :url => "#{document_path(doc)}/comments", :remote => true, :html => { :class => 'ui-helper-clearfix' } ) do |f|
        = f.text_area :content
        %br
        %a.btn.btn-inverse.btn-mini.pull-right.submit-comment=t('post')
        %a.float-right.comment-form-close{ :href => "#" }= t('cancel')

  -doc.comments.each do |comment|
    - unless comment.new_record?
      = render comment