.item-actions.ui-helper-clearfix
  %span.spacer
  - unless doc.new_record?
    %a.default.share.live-tipsy{ :"original-title" => t( 'share' ), :onclick => "tas10.showAclMiniDialog( this, '/documents/#{doc._id}/acl', true );"}
      %span.tas10-icon16.tas10-icon-share
    %a.default.delete.live-tipsy{ :"original-title" => t( 'delete' ), :"data-method" => "delete", :"data-confirm" => t('really_delete', :name => doc.name), :"data-remote" => true, :href => document_path(doc) }
      %span.tas10-icon16.tas10-icon-trash
    %a.default.details.live-tipsy{ :href => info_document_path(doc), :"data-remote" => true, :"original-title" => t( 'details' )}
      %span.tas10-icon16.tas10-icon-details
    %span.spacer

  %a.submit-form.btn.btn-inverse.btn-mini.float-right{ :href => "#"}
    #{doc.new_record? ? t('create') : t('save')}
  -unless doc.new_record?
    -if doc.respond_to?(:published?)
      %a.live-tipsy.publish-webpage-button.float-right{ :href => publish_webpage_path(doc), :class => "publish-#{doc.id}-button #{doc.published? ? 'published' : nil}", :"original-title" => (doc.published? ? t('webpages.is_published') : t('webpages.is_locked') ), :"data-remote" => true, :"data-method" => "post"}
        %span.icon-white{ :class => (doc.published? ? "icon-ok-sign" : "icon-ban-circle")}
    -unless defined?(skip_view_button)
      %a.live-tipsy.view-webpage-button.float-right{ :href => webpage_path(doc), :target => "_blank", :"original-title" => t('webpages.view') }
        %span.icon-eye-open

  - if defined?(additional_icons) && additional_icons
    - additional_icons.each do |icon|
      =raw(icon)
  - unless doc.new_record?
    -unless defined?(skip_new_button)
      %a.new-item{ :href => "/#{doc.class.name.underscore.pluralize}/new?label_ids=#{doc.id}", :"data-remote" => true }
        %span.float-left=t("#{doc.class.name.underscore.pluralize}.new")
        %span.tas10-icon16.tas10-icon-new.float-left{ :style => "margin-left: 5px"}
    -unless defined?(skip_upload_button)
      %a.new-item{ :href => "#", :"data-remote" => true }
        %span.float-left=t("upload")
        %span.tas10-icon16.tas10-icon-upload.float-left{ :style => "margin-left: 5px"}

  %input.new-item{ :type => "hidden", :"data-type" => (defined?(type) && type ? "#{type}s" : 'labels' ), :"data-type-template" => (defined?(template) ? template : nil) }